@using DigoErp.Resources.App_Resources
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | DigoSolutions</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="~/Images/Digo_Favicon.jpg" rel="shortcut icon" type="image/x-icon" />
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="~/assets/css/default/app.min.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
</head>
<body class="pace-top">
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade show"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin login -->
        <div class="login login-v1">
            <!-- begin login-container -->
            <div class="login-container">
                <!-- begin login-header -->
                <div class="login-header">
                    <div class="brand">
                        <img src="~/Images/Digo_Favicon.jpg" style="width:28px;height:28px;"/> <b>DigoSolutions</b>
                        <small>@AppResource.PleaseLogin</small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
                <!-- end login-header -->
                @RenderBody()
            </div>
            <!-- end login-container -->
        </div>
        <!-- end login -->
    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/theme/default.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</body>
</html>